<section class="card">
	<div class="post card-body">
		<header class="card-title post-title">{{title}}</header>
		<p class="card-text post-body">{{content}}</p>
		{{! testing posts without user and time }}
		<div class="post-info float-right">
			<p class="post-desc">Posted by
				{{username}}
				on
				{{created_at}}</p>
		</div>
		{{#each comment}}
		<p class="comment">{{comment}}</p>
		{{/each}}
	</div>
    {{#if logged_in}}
	<form class="form" id="new-comment">
		<label for="comment">add a comment: </label>
		<input class="form-input" name="comment" type="text" data-user={{user_id}} data-postId={{id}}/>
		<button class="btn btn-primary">submit</button>
	</form>
    {{/if}}
</section>
