<section class="card">

	<div class="card-body">
		<header class="card-title">
			<h3 class="post-title">{{title}}</h3>
			<p class="post-desc">
				Posted by {{user.username}} on {{created_at}}
			</p>
		</header>
		<p class="card-text post-body">{{content}}</p>
		{{! testing posts without user and time }}
		<div class="post-info float-right">

		</div>
		{{#each comment}}
		<p class="comment">{{comment}}</p>
		{{/each}}

		<a href=`/post/${id}`>add comment</a>
	</div>

	{{! login status }}
	{{#if logged_in}}
	<form class="new-comment">
		<p>post id{{id}}</p>
		<label for="comment">add a comment: </label>
		<input class="form-input" name="comment" type="text" data-postId={{id}} />
		<button class="btn btn-primary">submit</button>
	</form>
	{{/if}}
</section>

<script src="js/addComment.js"></script>